.exercise-card {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
  }
  
  .exercise-title {
    margin-top: 0;
    transition: color 0.3s;
  }
  
  .exercise-details {
    margin-top: 8px;
    transition: color 0.3s;
  }
  
  .exercise-details p {
    margin: 4px 0;
  }
  
  .dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  .dark-text {
    color: #fff;
  }
  
  .dark-mode-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .exercise-card.dark-mode .dark-mode-button {
    color: #333;
    background-color: #f1f1f1; /* Light background color for button in dark mode */
  }
  